workflows/AI_Study_Assistant_workflow.json
{
  "name": "AI Study Helper Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        0
      ],
      "id": "475063da-063b-4621-bebf-60749cf53b64",
      "name": "Telegram Trigger",
      "webhookId": "4df9408e-ec1a-41ca-9a2f-1901210581cf",
      "credentials": {
        "telegramApi": {
          "id": "5b6slVUPyY8FK9z8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "={{$node[\"HTTP Request\"].json[\"choices\"][0][\"message\"][\"content\"]}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        64
      ],
      "id": "fe3c010a-d61e-43bb-9003-c4b0799916d2",
      "name": "Send a text message",
      "webhookId": "2da34832-98c7-475b-a14f-5a4686430b7e",
      "credentials": {
        "telegramApi": {
          "id": "5b6slVUPyY8FK9z8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"model\": \"llama-3.1-8b-instant\",\n \"messages\": [\n  {\n   \"role\": \"user\",\n   \"content\": \"Explain simply: {{$node['Telegram Trigger'].json['message']['text']}}\"\n  }\n ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        112
      ],
      "id": "096ba9ca-a155-45a3-b601-efe685cb43c9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de0b6a69-91c2-4bc5-8b33-b33e3e09a488",
              "name": "intent",
              "value": "={{$json[\"message\"][\"text\"].toLowerCase()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        0
      ],
      "id": "06b8198f-3345-4a81-9621-c6caa36079f4",
      "name": "Detect Intent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "717ca17e-2100-45ab-8c6c-cc0a957362fa",
              "leftValue": "={{$json[\"intent\"]}}",
              "rightValue": "=remind",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        0
      ],
      "id": "981603a3-2e7d-4368-8684-52971617b5f8",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "=study reminder agent activated\n\nIll remid you to practice automation today \n\nEvent added to your calender...\nStay consistent!!!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        -112
      ],
      "id": "dda05a46-10f1-487e-b459-a8daa1fb05b6",
      "name": "Send a text message1",
      "webhookId": "da0bcb63-387b-4f44-b5bd-069a9b7f7c93",
      "credentials": {
        "telegramApi": {
          "id": "5b6slVUPyY8FK9z8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "nivedhagurumoorthy@gmail.com",
          "mode": "list",
          "cachedResultName": "nivedhagurumoorthy@gmail.com"
        },
        "start": "={{ new Date().toISOString() }}",
        "end": "={{ new Date(Date.now() +60*60*1000).toISOString()}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        752,
        -160
      ],
      "id": "16e31778-dcbe-4f2b-a9b3-790c47edc1e6",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FVyzrhNpZ1A9jyqX",
          "name": "Google Calendar OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Detect Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Intent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a290289a-86ca-4aa6-9929-d155ae4ba2dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c10280a7624bd52a6cd8bde0f7fede5e3e059e0211f572013c4464946b97ba26"
  },
  "id": "QfFxrOF6A9AMqFWF",
  "tags": []
}